
<div class="container-fluid">

    <div class="row">

        <div class="col col-12">

            <form id="search_item_form" asp-controller="SearchItem" asp-action="Search"
                  data-ajax-success="searchItemSuccess" data-ajax="true" data-ajax-method="POST">

                <div class="row">

                    <div class="col col-12">

                        <div class="form-group">

                            <label>@Label.Name</label>

                            @Html.TextBox("txt_name", string.Empty, new { @autocomplete = "off", @min = "3" })

                        </div>

                    </div>

                    <div class="col col-12">

                        <div class="form-group">

                            <button type="submit" class="button button-search">

                                @Button.Search

                            </button>

                        </div>

                    </div>

                </div>

            </form>

            <br />

        </div>

        <div id="search_item_result" class="col col-12"></div>

    </div>

</div>