@model Application.Models.Sale.SaleFilter
@{
    ViewBag.Title = Title.Sale;
}

<section id="section_header" class="section-header">

    <div class="title">@Title.Sale</div>

    <div class="toolbar">

        <a asp-controller="Sale" asp-action="Manage" asp-route-id="0" class="button button-add">

            @Button.Create

        </a>

    </div>

    <ol class="breadcrumb">

        <li><a asp-controller="Home" asp-action="Index">@Title.Home</a></li>
        <li>@Title.Sale</li>

    </ol>

</section>

<section id="section_content" class="section-content">

    <div class="row">

        <div class="col col-12">

            <div id="message">

                @await Html.PartialAsync("~/Views/Shared/Feedback/_Message.cshtml")

            </div>

        </div>

        <div class="col col-12">

            <div id="filter">

                @{
                    await Html.RenderPartialAsync("~/Views/Sale/_Filter.cshtml", Model.Filter);
                }

            </div>

        </div>

        <div class="col col-12">

            <div id="result">

                @{
                    await Html.RenderPartialAsync("~/Views/Sale/_Table.cshtml", Model);
                }

            </div>

        </div>

    </div>

</section>